*.~*
*.dcu
*.drc
*.identcache
*.local
*.map
*.rsm

#Ignoring specific binaries
PatternMatching.exe
ProvenEntitiesTestRunner.exe
PatternMatching.res
ProvenEntitiesTestRunner.res

TestInsightSettings.ini
